:root {
    --nav-bg-color: white;
    --background: #e7e5df;
    --button_bg: #252422;
    --latte: #DDBC95;
    --coffe: #c7140b;
    --text: #1C2127;
    --test_color: #0384c9;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: var(--background);
}

/* Navbar */

body>header {
    background-color: var(--nav-bg-color);
    color: var(--text);
    display: flex;
    margin: 0em 0em 1.5em 0em;
    align-items: center;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-bottom-color: #252422;
}

/* Text in navbar style */

body>header h1 {
    margin: 0.1em;
    flex-grow: 10;
}

#logo {
    font-weight: bolder;
    color: var(--text);
    font-size: 150%;
    flex-grow: 10;
    margin: 0em 0em 0em 0.1em;
}

a {
    text-decoration: none;
}

/*
    Buttons styles
*/

.normal-button {
    color: var(--latte);
    padding: 0.3em 0em 0.3em 0em;
    background-color: var(--lighter-button-bg);
    background-color: white;
    color: var(--button_bg);
    text-align: center;
    border-color: var(--lighter-button-bg);
    border-width: 2px;
    border-style: solid;
    font-size: 125%;
}

#login-button:hover, #signup-button:hover, #back:hover{
    background-color: #36382e;
    color: white;
    transition: 1s ease;
}

#login-button {
    margin-right: 0.5em;
    flex-grow: 1.5;
    border-radius: 4px;
    border-right-width: 1px;
}

#signup-button {
    flex-grow: 1.5;
    border-radius: 5px 5px 5px 5px;
    margin: 0 1em 0 0;
    border-left-width: 1px;
}

/* Back button */

#back {
    margin-right: 1em;
    flex-grow: 0.6;
    border-radius: 4px;
    border-right-width: 1px;
    padding: 0.3em 0em 0.3em 0em;
    text-align: center;
}

/* Authentication */

#login, #signup {
    max-width: 30em;
    background-color: white;
    box-shadow: whitesmoke 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin: 0 auto;
}

.auth_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 15em;
}

.submit_button {
    width: 30%;
    background-color: var(--latte);
}

#username {
    margin: 0;
}

/* ------------------------------- */


.overview-post {
    min-width: 30em;
    max-width: 60em;
    margin: 1em auto;
    padding: 0.8em 2em 0.8em 0;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

.overview-post h1 {
    padding: 0.3em 1em;
    margin: 0;
    font-size: x-large;
}

.overview-post header {
    display: flex;
}

.overview-post .author {
    display: none;
}

.overview-post footer {
    display: flex;
    flex-direction: column;
    
}
.overview-post footer h5{
    margin:0;
    flex-grow: 1;
    justify-content: flex-start;
}

.overview-post .username {
    display: block;
    font-size: small;
}

.overview-post .creationDate {
    font-size: small;
    display: block;
    margin: 1em;
}

.overview-post .comments {
    font-size: small;
    display: block;
    margin-bottom: 0;
}

.overview-post .creationDate::before {
    content: 'Posted ';
}

.overview-post .creationDate::after {
    content: ' ago.';
}
.overview-post a{
    color: var(--text);
}
#posts {
    display: block;
    padding: 1em;
}

/* Voting buttons and sections */

.downvote {
    margin:auto;
    width: 20px;
    height: 20px;
    background-color: black;
    background-size: cover;
    clip-path: polygon(30% 0, 70% 0%, 70% 60%, 90% 60%, 50% 100%, 10% 60%, 30% 60%);
}

.votes {
    text-align: center;
    font-size: small;
    padding: 0;
    margin:0.4em;
}

.upvote {
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: black;
    background-size: cover;
    clip-path: polygon(30% 0, 70% 0%, 70% 60%, 90% 60%, 50% 100%, 10% 60%, 30% 60%);
    transform: rotate(180deg);
}

.overview-post {
    display: flex;
}

.voting_section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin:0 0.5em;
}

.partial_line {
   margin:auto 0.8em auto 0;
   width:0.05em;
   height:6.5em;
   background-color:var(--text);
}

.post {
    flex-grow: 20;
}