:root {
    --nav-bg-color: #4abdac;
    --background: #dfdce3;
    --button_bg: #252422;
    --latte: #DDBC95;
    --coffe: #c7140b;
    --text: #1C2127;
    --test_color: #0384c9;

    --green: #4e873d;
    --kinda-grey: #afbfdc;
    --kinda-black: #171a1c;
    --yellow: #fcd42b;

    --upvote-color: #eca400;
    --downvote-color: #006992;
}

a {
    color: var(--text);
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: var(--background);
}



/* Navbar */

body>header {
    background-color: var(--nav-bg-color);
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

#posts {
    padding: 1em;
    margin: 0 auto;
    min-width: 35em;
    max-width: 60em;
}



ul#css3menu1 ul.scroll{
    max-height: 135px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*----------------------------------------------------------*/
/*--------------------------NAV BAR-------------------------*/
/*----------------------------------------------------------*/

#logo {
    flex-grow: 5;
    padding: 0; 
    margin: 0;
}

#logo a {
    font-weight: bolder;
    font-size: 150%;
    color: white;
    padding: 0; 
    margin: 0;
    padding-left: 1em;   
}


.user-actions {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    min-width: 5em;
    max-width: 15em;
    text-align: center;
}

/*----------------------------------------------------------*/
/*-----------------------DROPDOWN MENU----------------------*/
/*----------------------------------------------------------*/

.dropdown {
    margin: 0;
    list-style: none;
    padding: 0;   
    display: none;
    min-width: 100%;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown li { 
    width: 100%;
    color: black;
    transition: 1s ease;
    padding: 0;
    border-bottom: solid black 1px;
}

.dropdown li a{
    margin: 0px;
    padding: 0.5em;
    display: block;
}



.dropdown li:hover {
    background-color: #ddd;
}

.user-actions:hover{
    background-color: #f9f9f9;
    color: black;
    transition: 1s ease;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-actions:hover .dropdown{
    display: block;
}

#ordering::before{
    content: "Sort by:";
}

/*----------------------------------------------------------*/
/*----------------------BUTTON STYLES-----------------------*/
/*----------------------------------------------------------*/
.off-button {
    display: inline-block;
    padding: 0.3em 0.5em 0.3em 0.5em;
    background-color: rgb(172, 0, 0);
    color: white;
    max-width: 5em;
    text-align: center;
    transition: 0.3s ease;
    border-style: double;
    font-size: 125%;
    margin-right: 0.3em;
    margin-left: 0.3em;
    transition: 0.3s ease;
}

.off-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 1s ease;
}


.normal-button {
    display: inline-block;
    padding: 0.3em 0em 0.3em 0em;
    background-color: white;
    color:var(--kinda-black);
    max-width: 5em;
    text-align: center;
    transition: 0.3s ease;
    border-style: none;
    font-size: 125%;
    transition: 0.3s ease;
}

#login-button:hover,
#signup-button:hover,
#back:hover {
    background-color: #ddd;
    transition: 1s ease;
}

#login-button {
    margin-right: 0.5em;
    flex-grow: 1.5;
    border-radius: 4px;
    border-right-width: 1px;
}

#signup-button {
    flex-grow: 1.5;
    border-radius: 5px 5px 5px 5px;
    margin: 0 1em 0 0;
    border-left-width: 1px;
}

/* Back button */

#back {
    margin-right: 1em;
    flex-grow: 0.6;
    border-radius: 4px;
    border-right-width: 1px;
    padding: 0.3em 0em 0.3em 0em;
    text-align: center;
}



/*----------------------------------------------------------*/
/*----------------------AUTHENTICATION-----------------------*/
/*----------------------------------------------------------*/

#login,
#signup {
    max-width: 30em;
    background-color: white;
    box-shadow: whitesmoke 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin: 1em auto;
}

.auth_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 15em;
}

.submit_button {
    width: 30%;
    background-color: var(--latte);
}



/*----------------------------------------------------------*/
/*------------------------USER PAGE-------------------------*/
/*----------------------------------------------------------*/

.user_page{
    display: flex;
}
#information {
    flex-grow: 1;

    padding:1em;
    margin: 3.2em auto auto 0;
    
    
    margin-left:1em;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    
}

#profile_right{
    flex-grow: 1.5;
    display:flex;
    flex-direction: column;
}

#information header h1{
    margin-top:0;
    text-align: center;
}
#information table {
    margin: 0em;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
}
#information table th {
    text-align: center;
    border-right-style: solid;
    padding: 4px;
    padding-right:20px;
}
#information table td {
    text-align: center;
    padding: 4px;
    width : 10em;
}

.user_page #ordering{
    margin:1em auto 0em auto;

}

#profile_right #posts{
    padding-top:0em;
}



/*----------------------------------------------------------*/
/*-----------------------OVERVIEW POST----------------------*/
/*----------------------------------------------------------*/

#posts .overview-post{
    display: grid;
    grid-template-columns: 1fr 17fr;
    grid-template-rows:auto;
    grid-template-areas: "votes header"
                         "votes title"
                         "votes image"
                         "votes footer";
    min-width: 30em;
    max-width: 60em;
    min-height: 3em;
    margin: 1em auto;
    padding: 1em 0.5em;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}



.post-image{
    grid-area: image;
    margin: 0 auto;
    margin-bottom: 0.5em;
    align-content: center;
}

.user-image{
    margin: 0; 
    padding: 0;
    vertical-align: bottom;
    border-radius: 50%;
}

.overview-post .username span{
    margin: 0; 
    padding: 0;
}

.overview-post .username, #post .username{
    display: flex;
    margin: 0;
    padding: 0 1em;
}

.overview-post .title, #post .title {
    padding: 0.3em;
    margin: 0;
    font-size: x-large;
    font-weight: lighter;
}

.overview-post .post-content, #post title {
    grid-area: title;
    
}

.overview-post header, #post header{
    grid-area: header;
    display: flex;
    align-items: baseline;
}

.overview-post header .username, #post header .username {
    display: block;
    font-size: medium;
    padding-left: 0;
}

.overview-post header .creationDate, #post header .creationDate {
    font-size: small;
    display: block;
    margin: 0 0.5em;
}

.creationDate::before {
    content: 'Posted ';
}

.creationDate::after {
    content: ' ago.';
}

.overview-post .author, #post .author{
    display: none;
}


/*----------------------------------------------------------*/
/*--------------------OVERVIEW POST FOOTER-------------------*/
/*----------------------------------------------------------*/

.overview-post footer{
    grid-area: footer;
}


.overview-post .comments {
    font-size: medium;
    display: block;
    margin: 0;
    padding: 0 ;
}



/*----------------------------------------------------------*/
/*-----------------------VOTING SECTION----------------------*/
/*----------------------------------------------------------*/


.downvote {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-color: gray;
    background-size: cover;
    clip-path: polygon(30% 0, 70% 0%, 70% 60%, 90% 60%, 50% 100%, 10% 60%, 30% 60%);
}
.downvote_triggered{
    background-color: var(--downvote-color);
}

.votes {
    text-align: center;
    font-size: small;
    padding: 0;
    margin: 0.4em;
}

.upvote {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-color: gray;
    clip-path: polygon(30% 0, 70% 0%, 70% 60%, 90% 60%, 50% 100%, 10% 60%, 30% 60%);
    transform: rotate(180deg);
}

.upvote_triggered{
    background-color: var(--upvote-color);
}

.voting_section {
    grid-area: votes;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



/*----------------------------------------------------------*/
/*------------------------SINGLE POST-----------------------*/
/*----------------------------------------------------------*/

#post{
    display: grid;
    grid-template-columns: 1fr 17fr;
    grid-template-rows:auto;
    grid-template-areas: "votes     header"
                         "votes     title"
                         "votes     content"
                         "image     image"
                         "form      form"
                         "div       div"
                         "comments  comments"
                         "load-more  load-more";
    min-width: 30em;
    max-width: 60em;
    min-height: 3em;
    margin: 1em auto;
    margin-bottom: 0;
    padding: 1em 0.3em 0em 0.3em;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

.load-more{
    grid-area: load-more;
    display: block;
    padding: 0.5em;
    font-weight: lighter;
    cursor:pointer;
}


.load-more:hover {
    text-decoration:underline;
}

#post hr{
    grid-area: div;
    display: block;
    width: 90%;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em auto;
    padding: 0;
}

#post .content {
    grid-area: content;
    padding: 0.3em;
    margin: 0;
    font-weight: lighter;
}


#post .overview-post .comments {
    font-size: small;
    display: block;
    margin-bottom: 0;
}


#post form {
    grid-area: form;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "text"
                         "button";
    background-color: white;
    margin: 0 auto;
    width: 60%;

}

#post form > textarea {
    border-radius: 5px 5px 0px 0px;
    display: block;
    grid-area: text;
    resize: none;
    border-bottom-style: none;
    padding: 1em 1em;
    border-color: #C0C0C0;
}

#post form > input[type='hidden'] {
    display: none;
}

#post form > input[type='submit'] {
    grid-area: button;
    text-align: right;
    border-color: #C0C0C0;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    box-sizing: unset;
    border-radius: 0px 0px 5px 5px;
    padding: 0.5em 1em;
    background-color: rgb(223, 223, 223);
}



/*----------------------------------------------------------*/
/*-----------------------POST COMMENTS----------------------*/
/*----------------------------------------------------------*/

#post #comments {
    margin-top: 0.5em;
    grid-area: comments;
    display: flex;
    flex-direction: column;
}

#post  .comment  {
    margin: 0;
    margin-top: 0.5em;
    display: grid;
    width: auto;
    grid-template-columns: 1fr 40fr;
    grid-template-rows: auto;
    grid-template-areas: "votes   header"
                         "votes   content"
                         "votes   ."
                         "footer  footer"
                         "form    form";

    padding: 0;
}

.comment footer{
    grid-area: footer;
    display: flex;
    align-items: baseline;
}


.numReplies, .reply{
    font-weight: lighter;
    font-size: small;
    display: block;
    padding-bottom: 0;
    margin-right: 1em;
    padding-top: 0.5em;
    cursor:pointer;
}

.numReplies:hover, .reply:hover {
    text-decoration:underline;
}

.numReplies::before{
    content: "\21B3";
}


#post #comments .downvote {
    width: 15px;
    height: 12px;
}


#post #comments .votes {
    margin: 0.2em;
}

/* #post #comments .voting_section{
    background-color: #F5F5F5;
    border-radius: 5px 0 0 5px;
    margin: 0 ;
} */

#post #comments .upvote {
    margin: 0 auto;
    width: 15px;
    height: 12px;
}



#post #comments .comment header {
    grid-area: header;
    padding-left: 0.5em;
    border-radius: 5px 5px 0 0 ;
    background-color: #F5F5F5;
    display: flex;
}


#post #comments .comment .content {
    background-color: #F5F5F5;
    border-radius: 0 0 5px 5px ;
    grid-area: content;
    padding-left: 0.5em;
    font-weight: lighter;
    font-size: medium;
    padding-left: 0.3em;
}




/*----------------------------------------------------------*/
/*--------------------------ADD POST------------------------*/
/*----------------------------------------------------------*/
#new-post{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto;
    grid-template-areas: "title           channels"
                         "content         content"
                         "description     image"
                         ".               share";
    min-width: 30%;
    max-width: 70%;
    margin: 1em auto;
    padding: 1em;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

#new-post .drp_channels{
    grid-area: channels;
    height: 2em;
    background-color: white;
    margin-left: 1em;
    border-radius: 5px 5px 5px 5px;
    border: solid rgb(172, 172, 172) 1px;
    text-indent: 1em;
    margin-bottom: 1em;
}

#new-post input[name="description"]{
    grid-area: description;
    height: 2em;
    border-radius: 5px 5px 5px 5px;
    border: solid rgb(172, 172, 172) 1px;
    text-indent: 1em;
    margin-bottom: 1em;
}

#new-post input[type="file"]{
    grid-area: image;
    margin-left: 1em;
}

#new-post input[name='title']{
    grid-area: title;
    height: 2em;
    border-radius: 5px 5px 5px 5px;
    border: solid rgb(172, 172, 172) 1px;
    text-indent: 1em;
    margin-bottom: 1em;
}

#new-post input[type='submit']{
    display: block;
    justify-self: end;
    grid-area: share;
    padding: 1em 0.5em;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    border: none;
}

#new-post textarea{
    grid-area: content;
    margin-bottom: 1em;
    text-indent: 0.5em;
    height: 6em;
    border-radius: 5px 5px 5px 5px;
    border: solid rgb(172, 172, 172) 1px;
    resize: none;
}




/*----------------------------------------------------------*/
/*-------------------------SEARCH BAR-----------------------*/
/*----------------------------------------------------------*/
#search-bar{
    display:flex;
    justify-content: center;
    margin-top:1.5em;
}

#search-bar button{
    background-color:var(--background);
    border: none;
}

#search-bar li:hover {
    cursor: pointer;
 
    background-color: var(--kinda-grey);
}


#displaySuggestions{
    padding:0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#displaySuggestions ul{
    padding:0;
    margin:0;
}

#displaySuggestions  li{
    color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

 #displaySuggestions {
    display: block;
  }

.autocomplete-selection{
    background-color: var(--kinda-grey);
}

#search_results #posts{
    padding-top:0;
}


/*----------------------------------------------------------*/
/*--------------------------CHANNEL-------------------------*/
/*----------------------------------------------------------*/

#go_back_search{
    margin-top:5em;
    display:flex;
    justify-content: center;
}

#channel_info{
    margin: 0em 0em;
    min-height: 1em;
    padding: 0.5em 0.5em;
    color:var(--kinda-black);
    background-color:var(--background);;
    display:flex;
}

#channel_info #title{
    flex-grow:1;
    margin:0;
}

#channel_info #title::before{
    content:"c/";
    padding: 0 0 0.5em 0;
}

#channel_info #description{
    flex-grow:2;
    font-size: 140%;
    font-weight:normal;
}

#channels_search{
    display:flex;
    flex-direction: column;
}

#channels_search a::before{
    content:"c/";
}

.search_title {
    margin:0.5em auto;
    font-size: 140%;
    text-align: center;
}

.box{
    margin:0.3em 1em;
    padding: 1em;
    padding: 1em 0.5em;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

#users_search{
    max-width: 70em;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}


/*----------------------------------------------------------*/
/*--------------------------ADD STORY-------------------------*/
/*----------------------------------------------------------*/

.add-story{
    transition: 0.5s ease;
    background-color: rgb(10, 175, 98);
    color: white;
    display: inline-block;
    padding: 1.5em;
    font-weight: bolder;
    font-size: large;
    position: fixed;
    bottom: 3em;
    border-radius: 50%;
    right: 3em;
}


.add-story:hover{
    background-color: rgb(1, 97, 52);
    transition: 0.5s ease;
}

